
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}

.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.ol-popup-closer:after {
	content: "✖";
}

.nao-pula-linha, .table-nao-pula-linha th, .table-nao-pula-linha td {
	white-space: nowrap;
}


.my-btn-default{
  background-color: #ffffff;
  border-color: #eee;
  color:#eee
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:#fff;
}


.mt10{
	margin-top: 10px;
}

.mt15{
	margin-top: 15px;	
}

.mt30{
	margin-top: 30px;
}

.modal.modal-wide .modal-dialog {
  width: 80%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.valign{
	vertical-align:middle !important;
}